.center-align{
    text-align: center;
}

.align-right{
    text-align: right;
    padding-right: 4rem;
}

.row{
    border-bottom: 1px solid #000;
    padding-left: 2em;
    padding-right: 2em;
}

.top-space{
    padding-top:2em;
}