<div class="row">
    <div class="col-12 col-md-4 top-space">
        <img [src]="callImagePath" /> <a href="tel:555-555-5555">Online Inquiries </a>
        <img [src]="storeLocationImagePath" /> <a [href]="storeLocationUrl"> Store Locator </a>
    </div>

    <div class="col-6 col-md-4 center-align">
        <a routerLink="/">
            <img [src]="logoImagePath" width="40%" />
        </a>
    </div>

    <div class="col-6 col-md-4 align-right top-space">
        <div class="dropdow show">
            <a class="dropdown-toggle" href="#" role="button" id="myAccountLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ accountStatus }}</a>
            <div *ngIf="loggedIn" class="dropdown-menu" aria-labelledby="myAccountLink">
                <a class="dropdown-item" routerLink="/favourite">Favourite</a>
                <a class="dropdown-item" routerLink="/cart">My Cart <span class="badge count">{{ getCountOfCartItems() }}</span></a>
                <a class="dropdown-item" routerLink="/orders">Orders</a>
                <a class="dropdown-item" routerLink="/payment">Payments</a>
                <a class="dropdown-item" (click)=logout()>Logout</a>
            </div>
            <div *ngIf="accountStatus == 'My Account'" class="dropdown-menu" aria-labelledby="myAccountLink">
                <a class="dropdown-item" routerLink="/login">Login</a>
                <a class="dropdown-item" routerLink="/signup">Sign up</a>
            </div>
        </div>
    </div>
</div>
