<div class="row">

    <div class="col-12 col-md-4">
        <img src="assets/images/call.jpg" /> <a routerLink="/inquiry">Online Inquiries </a>
        <img src="assets/images/store-location.png" /> <a routerLink="/map"> Store Locator </a>
    </div>

    <div class="col-6 col-md-4 center-align">
        <img src="assets/images/banner.png" width="30%" />
    </div>

    <div class="col-6 col-md-4 align-right">
        <div class="dropdow show">
            <a class="dropdown-toggle" href="#" role="button" id="myAccountLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ accountStatus }}</a>
            <div *ngIf="loggedIn" class="dropdown-menu" aria-labelledby="myAccountLink">
                <a class="dropdown-item" routerLink="/favourite">Favourite</a>
                <a class="dropdown-item" routerLink="/cart">My Cart ({{ cartTotal }})</a>
                <a class="dropdown-item" routerLink="/orders">Orders</a>
                <a class="dropdown-item" routerLink="/payment">Payments</a>
                <a class="dropdown-item" (click)=logout()>Logout</a>
            </div>
            <div *ngIf="loggedIn" class="dropdown-menu" aria-labelledby="myAccountLink">
                <a class="dropdown-item" routerLink="/login">Login</a>
                <a class="dropdown-item" routerLink="/signup">Sign up</a>
            </div>
        </div>
    </div>

</div>