<app-header></app-header>
<app-nav></app-nav>

<div class="container">
    <div class="jumbotron">
        <h1>
            {{ heading }}
        </h1>
    </div>

    <div class="row" *ngIf="noOfResults < 1">
        <div class="col container">
            <h1 class="no-result">
                No products found!
            </h1>
        </div>
    </div>

    <div class="row" *ngIf="noOfResults > 0">
        <div class="col-2">
            <app-filter></app-filter>
        </div>

        <div class="col-10 container">
            <div class="row">
                <!-- list of products -->
                <div *ngFor="let product of results" class="card" style="width: 18rem;">
                    <a [routerLink]="[urlProductDetails, product.id]">
                        <img class="card-img-top" [src]="imageFolderPath + product.defaultImage + '.jpg'"
                            alt="image not uploaded">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title">{{product.name}}</h6>
                        <span>Price : {{product.price | currency}}</span><br>
                        <a title="Buy now" class="btn btn-primary" [routerLink]="[urlProductDetails, product.id]">
                            <img [src]="buyNowImagePath" alt="Buy now">
                        </a>
                        <a title="Add to cart" class="btn btn-primary" (click)="addToCart(product.id)">
                            <img [src]="addToCartImagePath" alt="Add To Cart">
                        </a>
                        <a title="Favourite" class="btn btn-primary" (click)="addToFav(product.id)">
                            <img [src]="favouriteImagePath" alt="Favourite">
                        </a>
                    </div>

                </div>
            </div>
            <div class="row top-space">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li *ngFor="let page of pageCount; let i = index" class="page-item"><a class="page-link"
                                    (click)="fetchProducts(i+1)">{{i+1}}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>