<div class="container align-space">
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">

          <header class="card-header">
            <a routerLink="/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
            <h4 class="card-title mt-2">Sign up</h4>
          </header>

          <article class="card-body">
            <div class="form-group">
              <label>User name</label>
              <input type="email" class="form-control" formControlName="userName" placeholder="">
              <small class="form-text text-muted">Accept</small>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>First name </label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="">
              </div>
              <div class="col form-group">
                <label>Last name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder=" ">
              </div>
            </div>

            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" formControlName="email" placeholder="">
              <input type="checkbox" class="form-check-input">
              <small class="form-text text-muted">Share latest updates and promotion with your email.</small>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option1">
                  <span class="form-check-label"> Male </span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option2">
                  <span class="form-check-label"> Female</span>
                </label>
              </div>
              <div class="col form-group">
                <label class="form-check form-check-inline">
                  DOB
                </label>
              </div>
            </div>

            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" formControlName="address" placeholder="">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Zip code</label>
                <input type="text" class="form-control" formControlName="zipCode">
              </div>

              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
              </div>

              <div class="form-group col-md-6">
                <label>Country</label>
                <select id="inputState" class="form-control" formControlName="country">
                  <option> Choose...</option>
                  <option> Choose...</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label>Create password</label>
              <input class="form-control" type="password" formControlName="password">
            </div>

            <div class="form-group">
              <label>Retype password</label>
              <input class="form-control" type="password" formControlName="repassword">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register </button>
            </div>

            <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of
              use and Privacy Policy.</small>

          </article>
          <div class="border-top card-body text-center">Have an account? <a routerLink="/login">Log In</a></div>
        </div>
      </div>

    </div>

  </form>
</div>