<div class="container align-space">
  <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="needs-validation">
    <div class="row justify-content-center">

      <div class="col-md-6 logo">
        <a routerLink="/">
          <img [src]="logoImagePath" width="40%" />
        </a>
      </div>

      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
            <a routerLink="/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
            <h4 class="card-title mt-2">Sign up</h4>
          </header>

          <article class="card-body">
            <div class="form-group">
              <label lclass="form-text text-muted">User name</label>
              <input type="text" class="form-control" formControlName="userName"
                (input)="AvailablityUserName($event)">
              <small *ngIf="acceptedUserName == 'Accept'" class="text-success">
                Accept
              </small>
              <small *ngIf="acceptedUserName == 'Not Valid!'" class="text-danger alert-dismissible fade show">
                Invalid user name try another one!
              </small>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>First name </label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="">
                <small *ngIf="isSubmitted && registrationDetails.firstName.invalid" class="text-danger alert-dismissible fade show">
                  Please provide first name!
                </small>
              </div>

              <div class="col form-group">
                <label>Last name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder=" ">
                <small *ngIf="isSubmitted && registrationDetails.lastName.invalid" class="text-danger alert-dismissible fade show">
                  Please provide last name!
                </small>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <div class="form-row">
                  <label>Email address</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="">
                  <small *ngIf="isSubmitted && registrationDetails.email.invalid" class="text-danger alert-dismissible fade show">
                    Please enter the valid email!
                  </small>
                </div>
                <!-- <div class="form-row">
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-label"> Share latest updates and promotion with your email. </span>
                  </label>
                </div>
                 -->
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label class="form-check form-check-inline">
                  <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="0" checked>
                  <span class="form-check-label"> Male </span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="1">
                  <span class="form-check-label"> Female</span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input"formControlName="gender" type="radio" name="gender" value="2">
                  <span class="form-check-label"> Other</span>
                </label>
              </div>

              <div class="col form-group">
                <label class="form-check form-check-inline">
                  DOB
                </label>
                <input type="date" name="dob" id="dob" formControlName="dob">
                <small *ngIf="isSubmitted && registrationDetails.dob.invalid" class="text-danger alert-dismissible fade show">
                  Please select correct date of birth
                </small>
              </div>
            </div>

            
            <div class="form-group">
              <label>Contact number</label>
              <input type="text" class="form-control" formControlName="phone" placeholder="">
              <small *ngIf="isSubmitted && registrationDetails.phone.invalid" class="text-danger alert-dismissible fade show">
                Please enter the correct number!
              </small>
            </div>

            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" formControlName="address" placeholder="">
              <small *ngIf="isSubmitted && registrationDetails.address.invalid" class="text-danger alert-dismissible fade show">
                Please provide address!
              </small>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Zip code</label>
                <input type="text" class="form-control" formControlName="zipCode">
              </div>

              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
                <small *ngIf="isSubmitted && registrationDetails.city.invalid" class="text-danger alert-dismissible fade show">
                  Please provide city!
                </small>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
              </div>

              <div class="form-group col-md-6">
                <label>Country</label>
                <select id="inputState" class="form-control" formControlName="country">
                  <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label>Create password</label>
              <input class="form-control" type="password" formControlName="password">
              <small *ngIf="isSubmitted && registrationDetails.password.errors" class="text-danger alert-dismissible fade show">
                Please enter the password!
              </small>
            </div>

            <div class="form-group">
              <label>Retype password</label>
              <input class="form-control" type="password" formControlName="repassword">
              <small *ngIf="isSubmitted && registrationDetails.repassword.errors" class="text-danger alert-dismissible fade show">
                Please retype the password!
              </small>
              <small *ngIf="isSubmitted && passwordNotMatch" class="text-danger alert-dismissible fade show">
                Password not match!
              </small>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register </button>
            </div>

            <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of
              use and Privacy Policy.</small>
          </article>
          <div class="border-top card-body text-center">Have an account? <a routerLink="/login">Log In</a></div>
        </div>
      </div>
    </div>
  </form>
</div>