<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- Women -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Women
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <!-- Women - Casual wear -->
              <div class="col-3">
                <span class="text-uppercase text-white">Casual Wear</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="[productSearchPath, 'women_casual_tshirt']">T-Shirts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="[productSearchPath, 'women_casual_shirt']">Shirts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="[productSearchPath, 'women_casual_frock']">Frocks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="[productSearchPath, 'women_casual_short']">Shorts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="[productSearchPath, 'women_casual_skirt']">Skirts</a>
                  </li>
                </ul>
              </div>

              <!-- Women - formal wear -->
              <div class="col-3">
                <span class="text-uppercase text-white">Formal Wear</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active"  [routerLink]="[productSearchPath, 'women_formal_tshirt']">T-Shirts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="[productSearchPath, 'women_formal_jeans']">Jeans</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="[productSearchPath, 'women_formal_shirts']">Shirts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="[productSearchPath, 'women_formal_shorts']">Shorts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  [routerLink]="[productSearchPath, 'women_formal_skirts']">Skirts</a>
                  </li>
                </ul>
              </div>

              <!-- Women - sport wear -->
              <div class="col-3">
                <span class="text-uppercase text-white">Sport Wear</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active"  [routerLink]="[productSearchPath, 'women_formal_tshirt']">T-Shirts</a>
                  </li>
                </ul>
                <a href="">
                  <img src="" alt="" class="img-fluid">
                </a>
                <p class="text-white">Short image call to action</p>

              </div>

              <div class="col-3">
                <span class="text-uppercase text-white">Formal Wear</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Men
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-white">Casual wear</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <a href="">
                  <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                </a>
                <p class="text-white">Short image call to action</p>

              </div>
            </div>
          </div>


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Kids
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-white">Girls</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Boys</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">

                <a href="">
                  <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                </a>
                <p class="text-white">Short image call to action</p>

              </div>
            </div>
          </div>


        </div>
      </li>

    </ul>
    <span class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="searchValue" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="searchProducts()">Search</button>
    </span>
  </div>


</nav>