<div class="container align-space">
    <div *ngIf="loading">
        loading...
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">

                    <header class="card-header">
                        <a routerLink="/signup" class="float-right btn btn-outline-primary mt-1">Sign up</a>
                        <h4 class="card-title mt-2">Login</h4>
                    </header>

                    <article class="card-body">
                        <div class="form-group">
                            <label>User name</label>
                            <input type="text" class="form-control" formControlName="userName" placeholder="">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" formControlName="password">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login </button>
                        </div>

                    </article>
                    <div class="border-top card-body text-center">Havent an account? <a routerLink="/signup">Sign up</a>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>