<div class="container top-space">
    <app-loader *ngIf="loading"></app-loader>

    <div class="signup">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="row justify-content-center">
                <div class="col-md-6 logo">
                    <a routerLink="/">
                        <img [src]="logoImagePath" width="40%" />
                    </a>
                </div>

                <div class="col-md-6">
                    <div class="card">

                        <header class="card-header">
                            <a routerLink="/signup" class="float-right btn btn-outline-primary mt-1">Sign up</a>
                            <h4 class="card-title mt-2">Login</h4>
                        </header>

                        <article class="card-body">
                            <div class="form-group">
                                <label>User name</label>
                                <p [ngClass]="{ 'has-error': isSubmitted && loginDetails.userName.errors }">
                                    <input type="text" class="form-control" formControlName="userName" placeholder="">
                                </p>

                                <div *ngIf="isSubmitted && loginDetails.userName.errors" class="help-block">
                                    <div *ngIf="loginDetails.userName.errors.required" class="alert alert-danger alert-dismissible fade show">User name is required</div>
                                </div>

                            </div>

                            <div class="form-group">
                                <p [ngClass]="{ 'has-error': isSubmitted && loginDetails.password.errors }">
                                    <label>Password</label>
                                    <input class="form-control" type="password" formControlName="password">
                                </p>

                                <div *ngIf="isSubmitted && loginDetails.password.errors" class="help-block">
                                    <div *ngIf="loginDetails.password.errors.required" class="alert alert-danger alert-dismissible fade show">Password is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login </button>
                            </div>

                            <div *ngIf="errorMsg" class="form-group alert alert-warning alert-dismissible fade show">
                                <strong>{{ errorMsg }}</strong>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>

                        </article>
                        <div class="border-top card-body text-center">Havent an account? <a routerLink="/signup">Sign
                                up</a>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>

</div>