<div class="container">
    <div class="row">
        <div class="col">
            <img class="card-img-top" src="assets/images/cat_women.jpg" alt="Card image">
            <div class="card-img-overlay">
                <p class="card-text">NEW COLLECTION</p>
                <h4 class="card-title">SHOP WOMEN'S</h4>
                <a href="#" class="btn btn-primary">DISCOVER NOW</a>
            </div>
        </div>
        <div class="col">
            <img class="card-img-top" src="assets/images/cat_men.jpg" alt="Card image">
            <div class="card-img-overlay">
                <p class="card-text">NEW COLLECTION</p>
                <h4 class="card-title">SHOP MEN'S</h4>
                <a href="#" class="btn btn-primary">DISCOVER NOW</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="card-img-top" src="assets/images/cat_kids.jpg" alt="Card image">
            <div class="card-img-overlay">
                <p class="card-text">NEW COLLECTION</p>
                <h4 class="card-title">SHOP KID'S</h4>
                <a href="#" class="btn btn-primary">DISCOVER NOW</a>
            </div>
        </div>
        <div class="col">
            <img class="card-img-top" src="assets/images/cat_kids.jpg" alt="Card image">
            <div class="card-img-overlay">
                <p class="card-text">NEW COLLECTION</p>
                <h4 class="card-title">LIFE STYLE</h4>
                <a href="#" class="btn btn-light">DISCOVER NOW</a>
            </div>
        </div>
        <div class="col">
            <img class="card-img-top" src="assets/images/cat_kids.jpg" alt="Card image">
            <div class="card-img-overlay">
                <p class="card-text">NEW COLLECTION</p>
                <h4 class="card-title">GIFT VOUCHERS</h4>
                <a href="#" class="btn btn-light">DISCOVER NOW</a>
            </div>
        </div>
    </div>
</div>