.products{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container{
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.related{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 1em;
}

.related li{
    display: inline;
    list-style: none;
    padding:0;
    margin-right: 0.2em;
}

.related li img{
    width: 15%;
    object-fit: cover;
    border: 0.01em solid #000;
    cursor: pointer;
    transition: transform .2s;
    margin-left: 0.5em;
}

.image{
    width: 4em;
    height: 4em;
}

.image > img{
    width: 100%;
    object-fit: cover;
}

.related li img:hover{
    transform: scale(1.1);
}
.productName{
    font-size: 2.8em;
}

.desc{
    padding-top: 1em;
}

.back{
    cursor: pointer;
}

.back :hover{
    color: royalblue;
}

.quantity{
    text-align: center;
    width: 3em;
    margin:0.2em;
}

.add-cart{
    margin-left: 0.4em;
}

.types span{
    width: 2.5em;
    border: 1px solid royalblue;
    padding: 0.2em;
    margin: 0.5em;
    cursor: pointer;
    text-align: center;
    transition: transform .2s;
}


.types span:hover{
    transform: scale(1.1);
    border: 1px solid #000;
    color: #fff;
    background-color: royalblue;
}



.radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
  }
  
  .radio-toolbar label:hover {
    background-color: #dfd;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #bfb;
      border-color: #4c4;
  }