<div class="container">

    <div class="row">
        <div class="col zoom">
            <a [routerLink]="[urlCategory, categories[0][1]]">
                <img class="card-img-top" [src]='categories[0][2]' alt="Card image">
                <div class="card-img-overlay align-center">
                    <p class="card-text">NEW COLLECTION</p>
                    <h4 class="card-title">{{ categories[0][0] }}</h4>
                    DISCOVER NOW
                </div>
            </a>
        </div>
        <div class="col zoom">
            <a [routerLink]="[urlCategory, categories[1][1]]">
                <img class="card-img-top" [src]='categories[1][2]' alt="Card image">
                <div class="card-img-overlay align-center">
                    <p class="card-text">NEW COLLECTION</p>
                    <h4 class="card-title">{{ categories[1][0] }}</h4>
                    DISCOVER NOW
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col zoom">
            <a [routerLink]="[urlCategory, categories[2][1]]">
                <img class="card-img-top" [src]='categories[2][2]' alt="Card image">
                <div class="card-img-overlay align-center">
                    <p class="card-text">NEW COLLECTION</p>
                    <h4 class="card-title">{{ categories[2][0] }}</h4>
                    DISCOVER NOW
                </div>
            </a>
        </div>
        <div class="col zoom">
            <a [routerLink]="[urlCategory, categories[3][1]]">
                <img class="card-img-top" [src]='categories[3][2]' alt="Card image">
                <div class="card-img-overlay align-center">
                    <p class="card-text">NEW COLLECTION</p>
                    <h4 class="card-title">{{ categories[3][0] }}</h4>
                    DISCOVER NOW
                </div>
            </a>
        </div>
        <div class="col zoom">
            <a [routerLink]="[urlCategory, categories[4][1]]">
                <img class="card-img-top" [src]='categories[4][2]' alt="Card image">
                <div class="card-img-overlay align-center">
                    <p class="card-text">NEW COLLECTION</p>
                    <h4 class="card-title">{{ categories[4][0] }}</h4>
                    DISCOVER NOW
                </div>
            </a>
        </div>
    </div>
</div>