<app-header></app-header>
<app-nav></app-nav>

<div class="jumbotron" style="text-align: center; font-weight: bold;">
    <h1 class="display-4" style="text-align: center; font-weight: bold;">
        {{ heading }}
    </h1>
</div>

<div class="container">
    <app-category [InputUrlCategory]="urlCategory" [InputCategories]='categories'></app-category>
</div>

<app-product-row viewTitle="BEST SELLER" [productList]='bestSellerProduct'></app-product-row>
<app-product-row viewTitle="TRENDING PRODUCTS" [productList]='newArrivalProduct'></app-product-row>

<app-footer></app-footer>