<section>
    <section>

        <h5>Filters</h5>
        <section class="mb-4">
            <h6 class="font-weight-bold mb-3">Color</h6>

            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="new">
                <label class="form-check-label small text-uppercase card-link-secondary" for="new">Blue</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="used">
                <label class="form-check-label small text-uppercase card-link-secondary" for="used">Red</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="collectible">
                <label class="form-check-label small text-uppercase card-link-secondary"
                    for="collectible">Pink</label>
            </div>
            <div class="form-check pl-0 mb-3 pb-1">
                <input type="checkbox" class="form-check-input filled-in" id="renewed">
                <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Yellow</label>
            </div>
        </section>

        <!-- <section class="mb-4">
            <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

            <a href="#!">
                <ul class="rating">
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                    </li>
                </ul>
            </a>
            <a href="#!">
                <ul class="rating">
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                    </li>
                </ul>
            </a>
            <a href="#!">
                <ul class="rating">
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                    </li>
                </ul>
            </a>
            <a href="#!">
                <ul class="rating">
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                        <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                    </li>
                </ul>
            </a>
        </section> -->

        <section class="mb-4">
            <h6 class="font-weight-bold mb-3">Price</h6>

            <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Under LKR 1000</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="2550">LKR 1000 to LKR 2000</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="50100" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="50100">LKR 2000 to LKR 3000</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="200above" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="200above">LKR 3000 &
                    Above</label>
            </div>
        </section>

        <section class="mb-4">
            <h6 class="font-weight-bold mb-3">Size</h6>

            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="34">
                <label class="form-check-label small text-uppercase card-link-secondary" for="34">XS</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="36">
                <label class="form-check-label small text-uppercase card-link-secondary" for="36">S</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="38">
                <label class="form-check-label small text-uppercase card-link-secondary" for="38">M</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="40">
                <label class="form-check-label small text-uppercase card-link-secondary" for="40">L</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="40">
                <label class="form-check-label small text-uppercase card-link-secondary" for="40">XL</label>
            </div>
            <div class="form-check pl-0 mb-3">
                <input type="checkbox" class="form-check-input filled-in" id="40">
                <label class="form-check-label small text-uppercase card-link-secondary" for="40">XXL</label>
            </div>
        </section>

        <section class="mb-4">
            <h6 class="font-weight-bold mb-3">Color</h6>

            <div class="btn-group btn-group-toggle btn-color-group d-block mt-n2 ml-n2" data-toggle="buttons">
                <label class="btn rounded-circle white border-inset-grey p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle grey p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle black p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle green p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle blue p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle purple p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle yellow p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle indigo p-3 m-2">
                    <input type="checkbox" checked autocomplete="off">
                </label>
                <label class="btn rounded-circle red p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
                <label class="btn rounded-circle orange p-3 m-2">
                    <input type="checkbox" autocomplete="off">
                </label>
            </div>
        </section>
    </section>
</section>