<!-- <div>
    <div>
        <img src="assets/images/call.jpg"/>
        Online Inquiries
    </div>
    <div>
        <img src="assets/images/map.jpg"/>
        Store Locator
    </div>
    <div>
        <img src="assets/images/logo.jpg"/>
    </div>
    <div>
        <ul>
            <li>
                <a><img src="assets/images/bucket.jpg"/></a>
            </li>
            <li>
                <a><img src="assets/images/favourite.jpg"/></a>
            </li>
            <li>
                <a><img src="assets/images/search.jpg"/></a>
            </li>
        </ul>
    </div>
</div> -->

<div class="row">
    <div class="col-12 col-md-4">
   
        <img src="assets/images/call.jpg"/>
        Online Inquiries
    
        <img src="assets/images/store-location.png"/>
        Store Locator
    </div>
    <div class="col-6 col-md-6">    
   
        <img src="assets/images/logo.jpg"/>
    </div>
    <div class="col-6 col-md-2">    
    
        <a><img src="assets/images/add-to-cart.png"/></a>
    
        <a><img src="assets/images/favoriteIcon.png"/></a>
    
        <a><img src="assets/images/search.jpg"/></a>
        <button type="button" class="btn btn-info">Sign In</button>
   </div>
   </div>