<div>
    <div>
        <img src="appImages/call.jpg"/>
        Online Inquiries
    </div>
    <div>
        <img src="appImages/map.jpg"/>
        Store Locator
    </div>
    <div>
        <img src="appImages/logo.jpg"/>
    </div>
    <div>
        <ul>
            <li>
                <a><img src="appImages/bucket.jpg"/></a>
            </li>
            <li>
                <a><img src="appImages/favourite.jpg"/></a>
            </li>
            <li>
                <a><img src="appImages/search.jpg"/></a>
            </li>
        </ul>
    </div>
</div>

