<div class="row">
    <div class="col-12 col-md-4">
   
        <img src="assets/images/call.jpg"/>
        Online Inquiries
    
        <img src="assets/images/store-location.png"/>
        Store Locator
    </div>
    <div class="col-6 col-md-5">    
   
        <img src="assets/images/logo.jpg"/>
    </div>
    <div class="col-6 col-md-3">    
    <div>
        <i class="fa fa-heart fa-2x"></i>
        <i class="fa fa-user-plus fa-2x"></i>
        <i class="fa fa-home fa-2x"></i>
        <i class="fa fa-cart-plus fa-2x"></i>
        <a><img src="assets/images/add-to-cart.png"/></a>
        
        <a><img src="assets/images/search.jpg"/></a>
</div>
        <a routerLink = "/login"><button type="button" class="btn btn-info" >Sign In</button></a>
    </div>
   </div>