<div class="container">
    <h1>{{ viewTitle }}</h1>
    <br>
    
    <ul class="tes">
        <li class="card" style="width: 13rem;" *ngFor="let product of products">
            <img class="card-img-top" [src]="imageFolderPath + product.image + '.jpg'" alt="image not uploaded!">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a class="btn btn-primary" (click)="buynow(product.id)">
                    <img [src]="buyNowImagePath" alt="Buy now" >
                </a>
                <a class="btn btn-primary" (click)="addToCart(product.id)">
                    <img [src]="addToCartImagePath" alt="Add To Cart" >
                </a>
                <a class="btn btn-primary" (click)="favourite(product.id)">
                    <img [src]="favouriteImagePath" alt="Favourite" >
                </a>
            </div>
        </li>
    </ul>
</div>